.todo-form {
    background-color: white;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 0 auto;
    height: 100%;
}

.title{
    background-color: #4fb0ff;
    text-align: center;
    height: 50px;
    color: white;
    font-size: 40px;
}

.form-wrapper{
    padding: 20px;
    border-bottom: 1px solid #22b8cf;
}

.todos-wrapper{
    min-height: 60px;
}